<h1>Dashboard</h1>
<table class="table table-bordered">
<thead>
<th>Number of Products</th>
<th>Number of Categories</th>
</thead>
<tbody>
<th><%=@product_count%></th>
<th><%=@category_count%></th>
</tbody>
</table>

<%= link_to "Edit Products", 'admin/products', class: 'btn btn-lg btn-primary' %>